* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../assets/img/background.jpg") no-repeat center;
    background-size: cover;
}

main {
    text-align: center;
    padding: 35px 45px;
    border-radius: 25px;
    color: white;
    background: rgb(44, 47, 51);
}

.lock {
    height: 250px;
    width: 300px;
    padding-bottom: 15px;
}

.error {
    text-align: center;
    padding-top: 25px;
    color: rgb(153, 170, 181);
}

.login-form {
    color: rgb(153, 170, 181);
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    font-size: 15px;
}

.textbox {
    height: 30px;
    width: 350px;
    padding: 5px;
    transition: 0.5s;
    border-radius: 5px;
    color: rgb(200, 200, 200);
    background: rgb(35, 39, 42);
    border: solid 1.5px rgb(32, 33, 34);
}

.button {
    height: 35px;
    width: 363px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    background: rgb(113, 52, 211);
    border: solid 1.5px rgb(32, 33, 34);
}

.textbox:hover {
    border: solid 1.5px rgb(70, 70, 70);
}

.textbox:focus {
    border: solid 1.5px rgb(64, 78, 237);
}

.button:hover {
    background: rgb(161, 52, 211);
    outline: rgb(70, 70, 70);
    outline-style: solid;
    outline-width: 1px;
}