/* Users Table Grid */
#main-content {
    overflow: scroll;
}
#main-content::-webkit-scrollbar {
    display: none;
}
#grid-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 50px auto auto 150px;
}
.grid-item:nth-child(-n+4) {
    font-size: 20px;
    font-weight: bold;
}
.grid-item {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 50px;
    font-size: 17px;
}
.grid-item:nth-child(4n):not(:nth-child(-n+4)) {
    display: flex;
}
.grid-item>button {
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
    height: 40px;
    width: 50px;
    margin: 0 5px;
}