#table-bg {
    width: 1125px;
    display: flex;
    overflow: hidden;
    margin-top: auto;
    align-self: center;
    margin-left: 50px;
    margin-right: 50px; 
    border-radius: 15px;
    background: red !important;
    margin-bottom: 50px;
    flex-direction: column;
    border: solid 5px red !important;
}

#table-th {
  width: 100%;
  height: 40px;
  font-size: 25px;
  position: relative;
  padding-top: 10px;
  border-bottom: solid 5px red;
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
}

.id {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 15px;
}

#table-tb {
  height: 465px;
  background: rgb(35, 39, 42);
  position: relative;
}

#table-tb .row {
  height: 40px;
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
}

#main {
    display: flex;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }