@media(max-width: 1300px) {
    body {
        flex-direction: column;
    }
    nav {
        display: none;
    }
    main {
        height: 100%;
    }
    .main-title {
        display: none;
    }

    #main-title {
        height: auto;
        overflow: hidden;
        max-height: 40px;
        transition: max-height 2s cubic-bezier(0, 1, 0, 1);
    }
    #main-title.open {
        max-height: 100%;
        transition: max-height 2s ease-in-out;
    }

    /* Dropdown */

    .dropdown {
        display: block;
        text-align: center;
    }

    .active {
        opacity: 0.75;
    }

    .underline {
        border: none;
        margin-top: 1.5%;
        border-bottom: solid 2px black;
    }

    .dropdown-button {
        border: none;
        color: white;
        font-size: 150%;
        background: none;
        font-weight: bold;
    }

    .dropdown-content {
        display: flex;
        flex-direction: column;
    }

    .dropdown-content a {
        padding: 2% 0;
        color: white;
        transition: 0.5s;
        text-decoration: none;
        list-style-type: none;
    }

    .dropdown-footer {
        font-size: 125%;
    }
}