/* Main Stuff */

* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    overflow: hidden;
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}

html {
    background: url("../../assets/img/background-4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: space-between;
    color: white;
    position: absolute;
    border-radius: 25px;
    inset: 10%;
}

nav {
    margin: 1.5%;
    margin-right: 0;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 9;
    margin: 1.5%;
    overflow: hidden;
    border-radius: 20px;
    
}

#main-title {
    margin: 2% 2% 0%;
    font-size: 150%;
    border-radius: 15px;
}

@media(min-width: 1300px) {
    #main-title {
        padding: 2% 0 2%;
    }
}

#main-content {
    margin: 2%;
    flex-grow: 1;
    height: auto;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
}

.main-title {
    padding-left: 2%;
}

.dropdown {
    display: none;
}