.txt-cl1 {
    color: rgb(255, 25, 255) !important;
   }

.txt-cl2 {
 color: white !important;
    }

.txt-cl3 {
    color: rgb(25, 255, 255) !important;
   }


.txt-cl4 {
    color: rgb(101, 0, 210) !important;
   }

   
.txt-cl5 {
    color: rgb(65, 65, 65) !important;
   }


.txt-cl6 {
    color: rgb(130, 130, 130) !important;
   }

.txt-cl7 {
    color: rgb(255, 25, 25) !important;
   }


.txt-bg1 {
    background-color: rgb(255, 25, 255) !important;
   }

.txt-bg2 {
    background-color: white !important;
    }

.txt-bg3 {
    background-color: rgb(25, 255, 255) !important;
   }


.txt-bg4 {
    background: rgb(101, 0, 210) !important;
    background-color: rgb(101, 0, 210) !important;
   }

   
.txt-bg5 {
    background-color: rgb(35, 39, 42) !important;
   }

   
.txt-bg6 {
    background-color: rgb(130, 130, 130) !important;
   }

.txt-bg7 {
    background-color: rgb(190, 16, 83) !important;
   }

